<div class="content">
    <app-hamburger-menu (onActiveEls)="onActiveLiEls($event)"></app-hamburger-menu>
    <app-bar-menu (onActive)="onActiveLiEls($event)"></app-bar-menu>
    <div class="header" [ngClass]="activeLiEls[0] ? 'active-page' : 'page'">
        <div class="intro">
            <h1 id="logo">Vérve</h1>
        </div>
    </div>
    <app-private-dining [active]="activeLiEls[2]"></app-private-dining>
    <app-tradition [active]="activeLiEls[5]"></app-tradition>
    <app-chef [active]="activeLiEls[6]"></app-chef>
    <app-reservations [active]="activeLiEls[3]"></app-reservations>
    <app-contact [active]="activeLiEls[4]"></app-contact>
    <app-press [active]="activeLiEls[7]"></app-press>
    <app-menu [active]="activeLiEls[8]"></app-menu>
</div>