<div class="content">
    <app-hamburger-menu (onActiveEls)="onActiveLiEls($event)"></app-hamburger-menu>
    <app-bar-menu (onActive)="onActiveLiEls($event)"></app-bar-menu>
    <div class="header" [ngClass]="activeLiEls[0] ? 'active-page' : 'page'">
        <div class="intro">
            <h1 id="logo">Vérve</h1>
        </div>
    </div>
    <div class="private-dining" [ngClass]="activeLiEls[2] ? 'active-page' : 'page'">
        <div class="filter">
            <div class="description">
                <h2>The Bouvier Room</h2>
                <p>For up to 50 seated to 75 standing guests</p>
                <h2>The Sommelier Room</h2>
                <p>TFor up to 30 seated guests</p>
                <h2>The Bar</h2>
                <p>For up to 45 standing guests</p>
            </div>
        </div>
    </div> 
    <div class="reservations" [ngClass]="activeLiEls[3] ? 'active-page' : 'page'">
        <div class="filter">
            <div class="description" [ngClass]="submitRes ? 'disabled-form' : 'active-form'">
                <h2>Reservations.</h2>
                <div class="form">
                    <mat-form-field>
                        <mat-label>Reservation name</mat-label>
                        <input matInput [(ngModel)]="username" required/>
                    </mat-form-field>
                    <mat-form-field id="date">
                        <input matInput [matDatepicker]="picker" [(ngModel)]="date" (ngModelChange)="onChange($event)" [min]="today">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [(ngModel)]="date" required></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label># Guests</mat-label>
                        <mat-select [(ngModel)]="hostsNumber" required>
                            <mat-option *ngFor="let n of hostsList" value="{{ n }}"> 
                                {{ n }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button mat-raised-button (click)="onSubmitRes()">Submit</button>
            </div>
            <div class="confirm"  [ngClass]="submitRes ? 'active-form' : 'disabled-form'">
                <p>Thank you, {{ username }} for inviting {{ hostsNumber }} people for a dinner in our restaurant on {{ date  | date}}.</p>
            </div>
        </div>
    </div>
    <div class="contact" [ngClass]="activeLiEls[4] ? 'active-page' : 'page'">
        <div class="filter">
            <div class="description">
                <h1>Contacts</h1>

                <h2>Edoardo Palamito<br>Developer</h2>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/edoardo-palamito-571512167?originalSubdomain=nl" target="_blank">Profile</a></p>
                <p>Portfolio Website: <a href="https://edo99pal.github.io/portfolio" target="_blank">Click Here</a></p>
                <h2>Anna Buxton - Designer</h2>
                <p>LinkedIn: <a href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAACZDjhABCwnfyNO4TUqJAi-V6bMJgQKnFQA&keywords=anna%20buxton&origin=RICH_QUERY_TYPEAHEAD_HISTORY&position=0&searchId=d96b53b3-61a3-4255-b9fb-519e81f69abf&sid=%3BmM" target="_blank">Profile</a></p>
            </div>
        </div>
    </div> 
    <div class="tradition" [ngClass]="activeLiEls[5] ? 'active-page' : 'page'">
        <div class="filter">
            <div class="left">
                <h1>Tradition</h1>
                <p>French cuisine is an opulent tapestry of culinary artistry, epitomizing the pinnacle of gastronomic refinement. Imbued with a profound reverence for exquisite ingredients, it revels in the judicious use of lavish components such as clarified butter, velvety creams, and an extensive array of artisanal cheeses. This venerable culinary tradition boasts an array of regional marvels, from the sumptuous depths of coq au vin to the sun-kissed splendor of ratatouille. Its pièce de résistance lies in the ethereal realm of pastries, exemplified by the delicate mastery of croissants and the decadence of patisserie confections. French cuisine, an indelible hallmark of haute cuisine, stands as an enduring testament to the unparalleled artistry and culinary acumen of its practitioners.<p>
            </div>
            <div class="right">
                <img id="chef_img" src="../../assets/images/chef.jpg" alt="chef"/>
                <img id="kitchen_img" src="../../assets/images/kitchen.jpg" alt="kitchen"/>
            </div>
        </div>
    </div> 
    <div class="chef" [ngClass]="activeLiEls[6] ? 'active-page' : 'page'">
        <div class="filter">
            <div class="right">
                <img src="../../assets/images/tradition_01.jpg" alt="Camdon Deconick 1"/>
            </div>
                <div class="left">
                    <h1>Camdon Deconick</h1>
                    <p>Camdon Deconick, a culinary virtuoso whose name resonates with gourmands around the world, is a maestro of the kitchen, orchestrating symphonies of flavor with every dish he crafts. With a career spanning decades, Deconick has honed his artistry in prestigious kitchens from Paris to Tokyo, earning accolades for his innovative techniques and profound respect for ingredients. His culinary philosophy marries tradition with innovation, resulting in creations that are both deeply rooted in heritage and infused with a modern, imaginative touch. Beyond his technical prowess, Deconick is known for his unyielding dedication to sourcing the finest, freshest produce, a commitment that elevates each dish to a transcendent experience. As a trailblazer in the culinary world, Camdon Deconick continues to captivate palates and inspire aspiring chefs, leaving an indelible mark on the epicurean landscape.<p>
                </div>
        </div>
    </div> 
    <div class="press" [ngClass]="activeLiEls[7] ? 'active-page' : 'page'">
        <div class="filter">
            <div class="description">
                <h1>Press</h1>
                <blockquote>                    
                    Chef Camden DeConinck's Michelin-starred French restaurant is an extraordinary culinary experience, worthy of its stellar reputation. From the ethereal Foie Gras en Terrine to the succulent Duck à l'Orange, each dish is a masterpiece of flavor and presentation. The impeccable service and elegant atmosphere complete this gastronomic journey, making it a must-visit for any discerning food enthusiast.
                </blockquote>
                <em>Romy Bosch, The Financial Times, 2023</em>
                <blockquote>                    
                    Chef Camden DeConinck's Michelin-star restaurant is a testament to his ingenious culinary artistry. With each dish, he effortlessly blends traditional French techniques with inventive flavors, creating a harmonious symphony for the palate. Dining here is an unforgettable experience that showcases his unmatched creativity and dedication to gastronomy.
                </blockquote>
                <em>Sergio Lopez, The New York Times, 2022</em>
                <blockquote>
                    Chef Camden DeConinck's Michelin-star restaurant is an epitome of culinary brilliance. His ingenious creations seamlessly marry traditional French techniques with global influences, resulting in a symphony of flavors that dance on the palate. Every dish is a testament to Chef DeConinck's unwavering commitment to pushing the boundaries of gastronomy while paying homage to time-honored traditions.
                </blockquote>
                <em>Eliu Raeito, The Monocle, 2022 - 2023</em>
                <blockquote>
                    Nestled in the heart of culinary excellence, this Michelin-starred gem is a symphony of taste and artistry. Each dish, from the ethereal Foie Gras en Terrine to the succulent Duck à l'Orange, is a testament to the chef's mastery of French gastronomy. The impeccable service and refined ambiance complete this unforgettable dining experience.
                </blockquote>
                <em>Diane Saccacio, The New York Times, 2023</em>
            </div>
        </div>
    </div> 
    <div class="menu" [ngClass]="activeLiEls[8] ? 'active-page' : 'page'">
        <div class="filter">
            <div class="description">
                    <h2>Vérve: A Celestial Culinary Experience</h2>

                        <p>Nestled in the heart of Paris, Vérve is an exquisite French restaurant that embodies the essence of gastronomic excellence. With a celestial touch, this dining establishment brings together the best of Michelin-starred cuisine and the rich flavors of Provence.</p>
                        
                        <h2>Ambiance</h2>
                        <p>As you step through the ornate doors of Vérve, you're greeted by an enchanting blend of modern chic and rustic charm. Crystal chandeliers illuminate the space, casting a warm, inviting glow over the intimate dining area. The walls adorned with celestial motifs add a touch of whimsy to the sophisticated ambiance.</p>
                        
                        <h2>Seasonal Symphony</h2>
                        <p>Vérve prides itself on its ever-evolving lunch menu, which changes weekly to reflect the freshest seasonal ingredients. The culinary team works in harmony with nature, crafting dishes that celebrate the flavors of each passing season. From vibrant spring produce to the hearty richness of autumn, every plate tells a story of the terroir.</p>
                        
                        <h2>Catch of the Day</h2>
                        <p>or seafood enthusiasts, Vérve presents the pièce de résistance – the Catch of the Day. This carefully selected gem from the briny depths showcases the restaurant's commitment to sustainable sourcing and showcases the pristine flavors of the ocean. Whether it's delicate Dover sole or succulent Brittany lobster, the Catch of the Day promises an unforgettable oceanic journey.</p>
                        
                        <h2>Weekly Artistry</h2>
                        <p>The ever-changing lunch menu is a canvas upon which the culinary artists at Vérve paint their creations. Each week, patrons can expect a new symphony of flavors, textures, and aromas, carefully curated to delight the senses and evoke a sense of discovery.</p>
                        
                        <h2>Signature Dishes</h2>
                        <p>While the menu may be in a constant state of evolution, Vérve's signature dishes serve as steadfast stars in the constellation of offerings. From the ethereal Truffle Risotto with aged Parmesan shavings to the indulgent Duck à l'Orange with caramelized figs, these iconic creations have garnered the restaurant its well-deserved acclaim.</p>
                        
                        <h2>Wine Selection</h2>
                        <p>Complementing the culinary experience is Vérve's meticulously curated wine cellar. The sommelier guides guests through a celestial journey of French vineyards, offering the perfect pairing for each course.</p>
                        
                        <h2>Reservations</h2>
                        <p>Due to the restaurant's popularity, reservations are highly recommended. Vérve is not just a dining experience; it's a celestial journey through the flavors of France.
                        
                        Embark on a gastronomic voyage at Vérve and let your palate traverse the seasons, guided by the brilliance of Michelin-starred artistry and the wonders of nature.</p>
            </div>
        </div>
    </div> 
</div>