<div class="press" [ngClass]="active ? 'active-page' : 'page'">
    <div class="filter">
        <div class="description">
            <h1>Press</h1>
            <blockquote>                    
                Chef Camden DeConinck's Michelin-starred French restaurant is an extraordinary culinary experience, worthy of its stellar reputation. From the ethereal Foie Gras en Terrine to the succulent Duck à l'Orange, each dish is a masterpiece of flavor and presentation. The impeccable service and elegant atmosphere complete this gastronomic journey, making it a must-visit for any discerning food enthusiast.
            </blockquote>
            <em>Romy Bosch, The Financial Times, 2023</em>
            <blockquote>                    
                Chef Camden DeConinck's Michelin-star restaurant is a testament to his ingenious culinary artistry. With each dish, he effortlessly blends traditional French techniques with inventive flavors, creating a harmonious symphony for the palate. Dining here is an unforgettable experience that showcases his unmatched creativity and dedication to gastronomy.
            </blockquote>
            <em>Sergio Lopez, The New York Times, 2022</em>
            <blockquote>
                Chef Camden DeConinck's Michelin-star restaurant is an epitome of culinary brilliance. His ingenious creations seamlessly marry traditional French techniques with global influences, resulting in a symphony of flavors that dance on the palate. Every dish is a testament to Chef DeConinck's unwavering commitment to pushing the boundaries of gastronomy while paying homage to time-honored traditions.
            </blockquote>
            <em>Eliu Raeito, The Monocle, 2022 - 2023</em>
            <blockquote>
                Nestled in the heart of culinary excellence, this Michelin-starred gem is a symphony of taste and artistry. Each dish, from the ethereal Foie Gras en Terrine to the succulent Duck à l'Orange, is a testament to the chef's mastery of French gastronomy. The impeccable service and refined ambiance complete this unforgettable dining experience.
            </blockquote>
            <em>Diane Saccacio, The New York Times, 2023</em>
        </div>
    </div>
</div> 