<div class="contact" [ngClass]="active ? 'active-page' : 'page'">
    <div class="filter">
        <div class="description">
            <h1>Contacts</h1>

            <h2>Edoardo Palamito<br>Developer</h2>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/edoardo-palamito-571512167?originalSubdomain=nl" target="_blank">Profile</a></p>
            <p>Portfolio Website: <a href="https://edo99pal.github.io/portfolio" target="_blank">Click Here</a></p>
            <h2>Anna Buxton - Designer</h2>
            <p>LinkedIn: <a href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAACZDjhABCwnfyNO4TUqJAi-V6bMJgQKnFQA&keywords=anna%20buxton&origin=RICH_QUERY_TYPEAHEAD_HISTORY&position=0&searchId=d96b53b3-61a3-4255-b9fb-519e81f69abf&sid=%3BmM" target="_blank">Profile</a></p>
        </div>
    </div>
</div> 