<div class="tradition" [ngClass]="active ? 'active-page' : 'page'">
    <div class="filter">
        <div class="left">
            <h1>Tradition</h1>
            <p>French cuisine is an opulent tapestry of culinary artistry, epitomizing the pinnacle of gastronomic refinement. Imbued with a profound reverence for exquisite ingredients, it revels in the judicious use of lavish components such as clarified butter, velvety creams, and an extensive array of artisanal cheeses. This venerable culinary tradition boasts an array of regional marvels, from the sumptuous depths of coq au vin to the sun-kissed splendor of ratatouille. Its pièce de résistance lies in the ethereal realm of pastries, exemplified by the delicate mastery of croissants and the decadence of patisserie confections. French cuisine, an indelible hallmark of haute cuisine, stands as an enduring testament to the unparalleled artistry and culinary acumen of its practitioners.<p>
        </div>
        <div class="right">
            <img id="chef_img" src="../../assets/images/chef.jpg" alt="chef"/>
            <img id="kitchen_img" src="../../assets/images/kitchen.jpg" alt="kitchen"/>
        </div>
    </div>
</div> 