.page {
    display: none;
    animation: fadeOut linear 1s;
}

.active-page {
    display: flex;
    animation: fadeIn linear 1s;
    min-height: 93.5vh;
    justify-content: center;
    align-items: center;
}
.reservations {
    background-image: url('../../assets/images/reservations.jpg');
    background-size: cover;

    .filter {
        background-color: rgba(255, 255, 255, .8);
        padding: 3em;
        box-sizing: border-box;
        text-transform: uppercase;
        width: 60vw;
        position: relative;

        mat-form-field {
            margin: 1em;
        }
    
        button {
            position: absolute;
            right: 1em;
            bottom: 1em;
            
            &:hover {
                background-color: #333;
                color: white;
            }
        }
        .active-form {
            display: block;
            animation: fadeIn 1s linear;
        }

        .disabled-form {
            display: none;
        }
    }


    #date {
        position: relative; 
        top: -8px;
    }
}

@media(max-width: 700px) {
    .reservations {
        background-size: cover;
        .filter {
            width: 90vw;
            padding: 1em;
            .description {
                .form mat-form-field {
                    width: 200px;
                }
            }
        }
    }
}