<div id="hamburger-menu">
    <input type="checkbox" class="nav-checkbox" id="nav-toggle" [(ngModel)]="menuIsOpen">
    <label for="nav-toggle" class="nav-button"><mat-icon>menu</mat-icon></label>
    <div class="nav-background"></div>
    <div class="nav">
        <ul class="nav-list">
            <li class="nav-item logo" (click)="activeClass(0); toggleMenu()">Camdon Deconick</li>
            <li class="nav-item" (click)="activeClass(5); toggleMenu()">Tradition</li>
            <li class="nav-item" (click)="activeClass(6); toggleMenu()">Chef</li>
            <li class="nav-item" (click)="activeClass(7); toggleMenu()">Press</li>
            <li class="nav-item" (click)="activeClass(8); toggleMenu()" [ngClass]="activeLiEls[8] ? 'active' : ''">Menu</li>
            <li class="nav-item" (click)="activeClass(2); toggleMenu()" [ngClass]="activeLiEls[2] ? 'active' : ''">Private Dining</li>
            <li class="nav-item" (click)="activeClass(3); toggleMenu()" [ngClass]="activeLiEls[3] ? 'active' : ''">Reservation</li>
            <li class="nav-item" (click)="activeClass(4); toggleMenu()" [ngClass]="activeLiEls[4] ? 'active' : ''">Contact</li>
        </ul>
    </div>
</div>