.bar-menu {
    position: sticky;
    top: 0;
    height: 5vh;
    background-color: white;
    text-transform: uppercase;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: 200;
}

.bar-menu > .left {
    width: 40%;
    font-size: 1.5rem;
}

.bar-menu > .right {
    width: 50%;
    position: relative;
    left: -100px;
    display: flex;
    justify-content: space-between;
}

.bar-menu li {
    list-style: none;
    transition: all 2s;    
}

.bar-menu li:hover {
    cursor: pointer;
}

.bar-menu > .right > li:hover {
    color: #777;
    border-bottom: 1px solid black;
}

#about-el {
    display: flex;
    justify-content: center;
    cursor: default;
    &:hover {
        #about-header {
            display: block;
        }
    }
}

#about-header{
    display: none;
    background-color: white;
    padding: 1em;
    position: absolute;
    top: 1.2em;
}
#about-header > li {
    padding: .5em;
}
#about-header li:hover {
    color: #aaa;
    cursor: pointer;
}

#logo {
    font-size: 5rem;
    margin-bottom: .5em;
    font-weight: 200;
}

@media(max-width: 700px) {
    .bar-menu > .right {
        display: none;
    }
}